/ = form_for @to_do do |f|
/   - if @to_do.errors.any?
/     #error_explanation
/       %h2= "#{pluralize(@to_do.errors.count, "error")} prohibited this to_do from being saved:"
/       %ul
/         - @to_do.errors.full_messages.each do |msg|
/           %li= msg

= f.label :task
= f.text_field :task
%br
= f.label :deadline
= f.date_select :deadline
%br
= f.label :department
= f.select :department, Assignee.all.collect{|a| [a.department] }
%br
= f.label :assignee_id
= f.select :assignee_id, Assignee.all.collect{|a| [a.name] }
%br
= f.label "Instructions"
= f.file_field :file
%br
= f.label :completed
= f.check_box :completed
%br
%br
= f.submit "Save"
