%link{ :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :type => "text/css", :rel => "stylesheet" }

= f.label :name
= f.text_field :name
%br
= f.label :department
= f.text_field :department
%br
= f.label "Picture"
= f.file_field :avatar
%br
%br
= f.submit "Save"
