%link{ :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :type => "text/css", :rel => "stylesheet" }

%p#notice= notice

%p
  %b Name:
  = @assignee.name
%p
  %b Department:
  = @assignee.department
%p
  %b Picture:
  %br
  = image_tag @assignee.avatar.url

= link_to 'Edit', edit_assignee_path, method: "get"
\|
= link_to 'Back', assignees_path


